html {
  background-color: #1A1A1A !important;
  background-color: #000 !important;
}

body {
  filter: invert(1) hue-rotate(180deg);
  background-color: transparent !important;
}

.ghx-newcard {
  background-color: #cfcfcf !important;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 2px 0px, rgba(255, 255, 255, 0.85) 0px 1px 3px 1px !important;
}
.ghx-newcard.ghx-selected {
  background-color: #bfbfbf !important;
  box-shadow: rgba(255, 255, 255, 0.7) 0px 1px 2px 0px, rgba(255, 255, 255, 0.85) 0px 1px 3px 1px !important;
}

.adg3 .js-issue, 
.adg3 .js-issue .ghx-items-container {
  background-color: #cfcfcf !important;
}

.adg3 .js-issue.ghx-selected, 
.adg3 .js-issue.ghx-selected .ghx-items-container {
  background-color: #bfbfbf !important;
}

.ghx-column {
  background-color: #dadada !important;
}

#jira-body img,
#page-body img,
#page img,
.img-wrapper,
span[role="img"],
*[role="img"],
img {
  filter: invert(1) hue-rotate(180deg); 
}

#helpPanelContainer > div > div {
  height: auto;
}
